<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large" class="ion-text-center">
      <b>PROBE</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides scrollbar="true" pager="true" scrollbar="false" [options]="slideOpts">
    <ion-slide *ngFor="let pregunta of preguntas | async; let i = index" style="display: block;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{pregunta.pregunta}}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let opc of pregunta.opciones">
              <ion-label>{{opc}}</ion-label>
              <ion-checkbox (ionChange)="GuardarRespuestas(i,pregunta.pregunta,opc)" slot="end"
                disabled="{{invisible}}"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <div id="btnenviar">
    <ion-button *ngIf="boton" (click)="almacenar()" >Finalizar</ion-button>
  </div>


</ion-content>
