<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large" class="ion-text-center">
      <b>PROBE</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-text-center">
    <h2>Iniciar Sesión</h2>
  </ion-title>

  <div id="container">
    <img src="assets/img/logoempresa100x100.png">

    <ion-card>

      <ion-item>
        <ion-label position="stacked">Ingrese su número de cédula</ion-label>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="userCed" type="text" placeholder="Ejm: 1718121234"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label position="stacked" slot="">Ingrese su contraseña</ion-label>
        <ion-input [(ngModel)]="userPass" type="{{tipotextPass}}"></ion-input>

        <ion-buttons slot="end">
          <ion-button (click)="showIconPass()">
            <ion-icon slot="icon-only" name="{{tipoIconoPass}}"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>

    </ion-card>

    <ion-button (click)="validar()" expand="full" size="large" shape="round">
      INGRESAR
    </ion-button>
    <Label [routerLink]="['/registro']" routerLinkActive="router-link-active" ><u>Registrar</u> </Label>
  </div>



</ion-content>
